.btn-15 {
    background: var(--primary-color);
    border: none;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: red;
    border-radius: 20px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #fff;
    border-radius: 20px;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
    border-radius: 20px;
}

.btn-15:active {
    top: 2px;
    border-radius: 20px;
}

.custom-btn {
    width: 510px;
    height: 48px;
    border-radius: 20px;
    margin: 30px 0;
    color: var(--white-color);
    border-radius: 20px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.forgot {
    display: flex;
    flex-direction: column;
    margin-left: 32%;
}

.forgot h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--p-color);
    margin-bottom: 20px;
}

.forgot input {
    width: 510px;
    height: 48px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    outline: none;
}

/* .forgot input::placeholder{
    
} */